/* Move down content because we have a fixed navbar that is 50px tall */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url('../fontawesome/css/all.css');


@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto-regular';
    src: url('../fonts/roboto-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto-black';
    src: url('../fonts/roboto-black.ttf') format('truetype');
}

/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');*/

* {
    font-family: Roboto-Regular,Arial,Verdana;
}


body {
    padding-bottom: 20px;
    font-family: Roboto-Regular,Arial,Verdana;
    background: url('../Images/backPrezent6.png') no-repeat;
    background-position: center top;
    background-position: 0px -174px;
}

h3 {
   
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 24px;
    color: #F2EEE9;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

.banner_nicol {
    position: absolute;
    top: 90px;
    z-index: 1000;
    width: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

    .banner_nicol .navbar-nav .nav-item {
        padding-right: 25px;
    }





header {
    position: relative;
}

    header .bg-light {
        background-color: #D65479 !important;
    }

    header .navbar-light .navbar-nav a.nav-link {
        font-family: roboto-black;
        font-size: 24px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        color: white;
        text-decoration: none;
    }

    header .navbar-brand {
        padding-top: 15px;
        padding-bottom: 15px;
        color: rgba(255, 255, 255, 1) !important;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        text-decoration: none;
    }

.present_temp {
    margin-top: 116px;
}

.present {
    margin-top: 0px;
    display: flex;
}

    .present .present_img {
    }

    .present h1 {
    }

    .present .present_block {
        position: absolute;
        width: 795px;
        height: 427px;
        right: 112px;
        top: 266px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        background: rgba(242, 238, 233, 0.8);
        border-radius: 42px;
        padding: 53px;
        z-index: 1000;
    }

        .present .present_block .header {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 47px;
            color: #000000;
        }

        .present .present_block .base_text {
            margin-top: 38px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 38px;
            color: #000000;
        }

    .present .slider {
        z-index: 0;
    }

    .present .present_header {
    }

    .present .present_text {
    }

.reserved_room {
    height: 330px;
    
    background: #73707C;
}
    .reserved_room .input-data
    {
        width:1200px;
    }
    .reserved_room h3 {
        margin-top: 33px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 24px;
        color: #F2EEE9;
    }

    .reserved_room .mt-my1
    {
        margin-top:33px;
    }
    .reserved_room .mt-my2{
        margin-top: 33px;
    }
    .reserved_room label {
       
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: #FFFFFF;
    }
    .reserved_room .txtb {
        margin-right: 73px;
    }
    .reserved_room .btnm {
        box-sizing: border-box;
        background: #D65479;
        border: 1px solid #FFFFFF;
        border-radius: 15px;
        font-size:24px;
        padding:5px 90px;

    }
.block4 {
    margin-top: 48px;
}
    .block4 h3 {
        margin-top: 33px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 24px;
        color: #000;
    }
    .block4 .carousel
    {
        margin-top:48px;
    }
    footer {
        margin-top: 80px;
        height: 122px;
        background-color: #0077DC;
        padding: 15px 5px;
    }

    footer .social {
        float: right;
    }

.block5 {
    margin-top: 48px;
}

    .block5 h3 {
        margin-top: 33px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 24px;
        color: #000;
    }

    .block5 .carousel {
        margin-top: 48px;
    }
    .block5 img {
        height: 491px;
    }

footer {
    margin-top: 80px;
    height: 122px;
    background-color: #0077DC;
    padding: 15px 5px;
}

    footer .social {
        float: right;
    }

@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 900px) {
}
/*Small*/
@media only screen and (max-width: 767px) {
}
