/* Move down content because we have a fixed navbar that is 50px tall */

/*@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");*/
@import url('../fontawesome/css/all.css');


@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto-regular';
    src: url('../fonts/roboto-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto-black';
    src: url('../fonts/roboto-black.ttf') format('truetype');
}

/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');*/

* {
    font-family: Roboto-Regular,Arial,Verdana;
}

html {
    position: relative;
    min-height: 100%;
}







body {
    padding-bottom: 20px;
    font-family: Roboto-Regular,Arial,Verdana;
    
   
    background-image: url('../images/backservices.png');
    
    background-repeat:no-repeat;

    /*background-size:contain;

    background-position: center top;
    background-position: 0px 94px;*/
    font-size: 14px !important;
    background-color: #F2EEE9 !important;
    margin-bottom: 60px;
}


h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700 !important;
    font-size: 36px !important;
    line-height: 24px !important;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
}

/* Set widths on the form inputs since otherwise they're 100% wide */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.base_text_page
{
   
}


.banner_nicol_pages {
    /*  position: absolute !important;
    width: 100%;
    left: 0px;
    top: 0px !important;*/
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: 1000;
}

    .banner_nicol_pages .navbar-nav .nav-item {
        padding-right: 25px;
    }

    .banner_nicol_pages .menu {
        padding-top: 10px;
        padding-bottom: 10px;
    }




header {
    position: relative;
}

    header .bg-light {
        background-color: #D65479 !important;
    }

    header .navbar-light .navbar-nav a.nav-link {
        font-family: roboto-black;
        font-size: 24px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        color: white;
        text-decoration: none;
    }

    header .navbar-light .navbar-nav a.nav-link:hover {
       
        color: #4F4F4F;
       
    }

    header .navbar-brand {
        padding-top: 15px;
        padding-bottom: 15px;
        color: rgba(255, 255, 255, 1) !important;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        text-decoration: none;
    }



.services_pages {
    
    width: 100%;
    /*height: 681px;*/
    /*background-image: url('../images/backservices.png');*/
}

    
    

    .services_pages .card {
        margin-top: 42px;
        width: 565px;
        padding: 10px;
        
        border-radius: 40px;
    }

        .services_pages .card .services_body_text {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 28px;
            color: #4F4F4F;
        }
            .services_pages .card .services_body_text h4 {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                color: #D65479;
            }

    .services_pages .items .var2 {

        width: 634px;
        padding: 10px;
        background: #73707C !important;
        border-radius: 40px;
    }

    

    .services_pages .items .card .card-link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 140.62%;
        letter-spacing: 0.25px;
        color: #F2EEE9;
        text-decoration: none;
    }

        .services_pages .items .card .card-link:hover {
            color: #000;
        }

    .services_pages .vertical_col {
        box-sizing: border-box;
        position: absolute;
        width: 664px;
        height: 100%;
        left: 260px;
        top: 0px;
        background: #F2EEE9;
        border: 3px solid #D3D1E4;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
        z-index:-1;
    }
        .services_pages .vertical_col img {
           
            margin-top:35px;

            width: 516px;
            height: 328px;
            
            
            
            
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            
        }
        .services_pages .vertical_col h3 {
            
            margin-top:120px;
            font-weight: 700;
            font-size: 32px !important;
            
            align-items: center;
            text-align: center;
            color: #D65479;
        }

.carousel_pages
{
 margin-top: 25px;
}
    .carousel_pages .items {
    }
        .carousel_pages img {
            width: 400px !important;
            height: 280px;
            filter: drop-shadow(15px 15px 4px rgba(0, 0, 0, 0.25));
        }



footer_pages {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px !important;
    margin-top: 80px;
    padding: 20px 0px;
    background: #73707C;
    font-size: 24px;
    color: #F2EEE9;
}

    footer_pages .social {
        float: right;
    }

.pickmeup-twitter-bootstrap {
    background: #F2EEE9 !important;
    z-index: 1002;
}

@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 900px) {
}
/*Small*/
@media only screen and (max-width: 767px) {
}
